@model RightEnergyPlatform.Data.Entities.StoreUser

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<div class="panel-heading">
    <h4>User</h4>
    <dl class="dl-horizontal panel-body">
        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dt> @Html.DisplayTextFor(model => model.Email)</dt>

        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
    </dl>
</div>
<div class="panel-footer">
    @Html.ActionLink("Back to the List", "Index")
</div>